# Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat


# Ignore Gradle build output directory
build
gradle

.idea

.gitattributes


out
model/out/**

service/logs/**
model/logs/**